.milife-2-bg {
  background-color: #ec267e;
}
#milife-sub-header .milife-sub-des {
  background-color: rgba(236, 38, 126, 0.6);
}
#offers .col-md-5 span {
  color: #ec267e;
}
#offers .col-md-7 li i {
  color: #ec267e;
}
.learn .col-md-4 {
  background-color: rgba(236, 38, 126, 0.6)!important;
}
