.milife-3-bg {
  background-color: #10c582;
}
#milife-sub-header .col-md-7 {
  background-color: rgba(16, 197, 130, 0.6));
}
#offers .col-md-5 span {
  color: #10c582;
}
#offers .col-md-7 li i {
  color: #10c582;
}
.learn .col-md-4 {
  background-color: rgba(16, 197, 130, 0.6)!important;
}
