.milife-8-bg {
  background-color: #953df2;
}
#milife-sub-header .milife-sub-des {
  background-color: rgba(149, 61, 242, 0.6);
}
#offers .col-md-5 span {
  color: #953df2;
}
#offers .col-md-7 li i {
  color: #953df2;
}
.learn .col-md-4 {
  background-color: rgba(149, 61, 242, 0.6)!important;
}
