.milife-6-bg {
  background-color: #15c6c0;
}
#milife-sub-header .milife-sub-des {
  background-color: rgba(21, 198, 192, 0.6);
}
#offers .col-md-5 span {
  color: #15c6c0;
}
#offers .col-md-7 li i {
  color: #15c6c0;
}
.learn .col-md-4 {
  background-color: rgba(21, 198, 192, 0.6)!important;
}
