.milife-1-bg {
  background-color: #249aea;
}
#milife-sub-header .milife-sub-des {
  background-color: rgba(36, 154, 234, 0.6);
}
#offers .col-md-5 span {
  color: #249aea;
}
#offers .col-md-7 li i {
  color: #249aea;
}
.learn .col-md-4 {
  background-color: rgba(36, 154, 234, 0.6)!important;
}
